<nav class="navbar navbar-expand-md bg-primary p-4 navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><h2>📽 Cine<span class="text-primary">Zone</span></h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link fs-4 text-white btn btn-primary" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle fs-4 text-white btn btn-primary" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Movies
          </a>
          <ul class="dropdown-menu bg-dark text-white">
            <li><a class="dropdown-item bg-dark text-white" routerLink="/movies">Movies
              Catalogue</a>
            <li>
              <a class="dropdown-item bg-dark text-white" routerLink="/movies/add">Add Movie</a>
            </li>

          </ul>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle fs-4 text-white btn btn-primary" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu bg-dark text-white">
            @for (category of categories; track category.id) {
              <li><a class="dropdown-item bg-dark text-white"
                     [routerLink]="['/', 'categories', category.id, 'movies']">{{ category.name }}</a></li>
            }
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <form (ngSubmit)="onSearch()" class="d-flex" role="search">
          <input name="search" [(ngModel)]="searchInput" class="form-control me-2" type="search"
                 placeholder="Search a movie"
                 aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        @if (currentUser(); as user) {
          <li class="nav-item"><a class="nav-link fs-4 text-white btn btn-primary rounded me-3"
                                  routerLink="/profile"><i
            class="bi bi-person-fill text-primary"></i> {{ user.name }}</a>
          </li>
          <li class="nav-item"><a class="nav-link fs-4 btn btn-danger rounded text-white"
                                  (click)="logout()">Log-Out</a>
          </li>
        } @else {
          <li class="nav-item"><a class="nav-link fs-4 btn btn-primary me-3 text-white rounded"
                                  routerLink="/register">Register</a>
          </li>
          <li class="nav-item"><a class="nav-link fs-4 btn btn-primary text-white rounded"
                                  routerLink="/login">Login</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
