<section class="text-white my-4 h-100 d-flex align-items-center">
  <div class="container">
    @if (!id) {
      <h1 class="mb-4 text-center"><i
        class="bi bi-file-earmark-plus"></i> Add New Movie</h1>
    } @else {
      <h1 class="mb-4 text-center"><i class="bi bi-pencil"></i> Edit Movie</h1>
    }
    <form (ngSubmit)="myForm.valid && onSubmit()" #myForm="ngForm" class="p-3 w-75 mx-auto">
      <div [ngClass]="serverErrorMessage ? 'mb-4 alert alert-danger' : ''">{{ serverErrorMessage }}</div>
      <div class="mb-4">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="title" name="title"
               ngModel
               #titleInput="ngModel"
               maxlength="100"
               placeholder="Enter movie's title"
               [class.is-invalid]="titleInput.invalid && (titleInput.dirty || titleInput.touched)"
               [class.is-valid]="titleInput.valid && (titleInput.dirty || titleInput.touched)">
      </div>
      @if (myForm.submitted && titleInput.errors && titleInput.errors["required"]) {
        <div class="alert alert-danger">Movie's title is required
        </div>
      }
      @if (myForm.submitted && titleInput.errors && titleInput.errors["maxlength"]) {
        <div class="alert alert-danger">Title must be less than 100 characters
        </div>
      }
      <div class="mb-4">
        <label for="email" class="form-label">Director</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="director" name="director" ngModel
               #directorInput="ngModel"
               maxlength="100"
               placeholder="Enter director's name"
               [class.is-invalid]="directorInput.invalid && (directorInput.dirty || directorInput.touched)"
               [class.is-valid]="directorInput.valid && (directorInput.dirty || directorInput.touched)">
      </div>
      @if (myForm.submitted && directorInput.errors && directorInput.errors["required"]) {
        <div class="alert alert-danger">Director's name is required
        </div>
      }
      @if (myForm.submitted && directorInput.errors && directorInput.errors["maxlength"]) {
        <div class="alert alert-danger">Director's name must be less than 100 characters
        </div>
      }
      <div class="mb-4">
        <label for="rating" class="form-label">Rating</label>
        <input type="number" class="form-control" id="rating" required min="1" max="10" step="0.1"
               #ratingInput="ngModel"
               [(ngModel)]="rating" name="rating"
               placeholder="Enter movie's rating"
               [class.is-invalid]="ratingInput.invalid && (ratingInput.dirty || ratingInput.touched)"
               [class.is-valid]="ratingInput.valid && (ratingInput.dirty || ratingInput.touched)"
        >
      </div>
      @if (myForm.submitted && ratingInput.errors && ratingInput.errors["required"]) {
        <div class="alert alert-danger">Rating is required
        </div>
      }
      @if (myForm.submitted && ratingInput.errors && ratingInput.errors["max"]) {
        <div class="alert alert-danger">Rating must be between 1 and 10
        </div>
      }
      @if (myForm.submitted && ratingInput.errors && ratingInput.errors["min"]) {
        <div class="alert alert-danger">Rating must be between 1 and 10
        </div>
      }
      <div class="mb-4">
        <label for="releaseYear" class="form-label">Release Year</label>
        <input type="number" class="form-control" id="releaseYear" required min="1900" [max]="currentYear" step="1"
               #releaseYearInput="ngModel"
               [(ngModel)]="release_year" name="releaseYear"
               placeholder="Enter movie's rating"
               [class.is-invalid]="ratingInput.invalid && (ratingInput.dirty || ratingInput.touched)"
               [class.is-valid]="ratingInput.valid && (ratingInput.dirty || ratingInput.touched)"
        >
      </div>
      @if (myForm.submitted && releaseYearInput.errors && releaseYearInput.errors["required"]) {
        <div class="alert alert-danger">Release Year is required
        </div>
      }
      @if (myForm.submitted && releaseYearInput.errors && releaseYearInput.errors["max"]) {
        <div class="alert alert-danger">Release Year must be between 1900 and 2025 characters long
        </div>
      }
      @if (myForm.submitted && releaseYearInput.errors && releaseYearInput.errors["min"]) {
        <div class="alert alert-danger">Release Year must be between 1900 and 2025 characters long
        </div>
      }
      @if (myForm.submitted && releaseYearInput.value && (releaseYearInput.value % 1 !== 0)) {
        <div class="alert alert-danger">Release year must be an integer</div>
      }
      <div class="mb-4">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" id="category" required [(ngModel)]="category_id" name="category"
                #selectInput="ngModel">
          <option selected disabled value="">Select a category</option>
          @for (category of categories; track category.id) {
            <option value="{{ category.id }}">{{ category.name }}</option>
          }
        </select>
      </div>
      @if (myForm.submitted && selectInput.errors && selectInput.errors["required"]) {
        <div class="alert alert-danger">Category is required
        </div>
      }
      @if (!id) {
        <div class="text-center">
          <button type="submit" class="btn btn-success">Add Movie</button>
        </div>
      } @else {
        <div class="text-center">
          <button type="submit" class="btn btn-success me-3">Edit Movie</button>
          <a [routerLink]="['/movies', id]" class="btn btn-danger"><i class="bi bi-arrow-90deg-left"></i>
            Back</a>
        </div>
      }
    </form>
  </div>
</section>
