<section class="d-flex align-items-center h-100 my-3">
  <div class="card text-center container p-0">
    <div class="card-header fw-bolder fs-2 text-start w-100">
      🎞 Movie Details
    </div>
    <div class="card-body text-center">
      <p class="movie-title card-title mb-3">🎞 {{ movie.title }}</p>
      <div class="mb-3 info-container bg-info-subtle text-dark p-2 rounded-3">
        <div class="h5 text-start">Genre:</div>
        <div class="fs-5">{{ movie.category }}</div>
      </div>
      <div class="card-text mb-3 info-container bg-info-subtle text-dark p-2 rounded-3">
        <div class="h5 text-start">Director:</div>
        <div class="fs-5">👤 {{ movie.director }}</div>
      </div>
      <div class="card-text mb-3 info-container bg-info-subtle text-dark p-2 rounded-3">
        <div class="h5 text-start">Release Year:</div>
        <div class="fs-5">{{ movie.release_year }}</div>
      </div>
      <div class="card-text mb-3 info-container bg-info-subtle text-dark p-2 rounded-3">
        <div class="h5 text-start">Rating:</div>
        <div class="fs-5 rating">⭐{{ movie.rating }}/10</div>
      </div>
      <a routerLink="/movies" class="btn btn-danger">Back</a>
    </div>
  </div>
</section>
