<header>
  <app-navbar></app-navbar>
</header>
<section class="container my-3">
  <div class="card text-center">
    <div class="card-header text-primary fw-bolder fs-2 text-start">
      🎞 Movie Details
    </div>
    <div class="card-body">
      <h1 class="card-title mb-3">{{ movie.title }}</h1>
      <p class="card-text mb-3 fw-bold fs-5"><span class="text-primary">Genre:</span> {{ movie.category }}</p>
      <p class="card-text mb-3 fw-bold fs-5"><span class="text-primary">Director:</span> {{ movie.director }}</p>
      <p class="card-text mb-3 fw-bold fs-5"><span class="text-primary">Released:</span> {{ movie.release_year }}</p>
      <p class="card-text mb-3 fw-bold fs-5"><span class="text-primary">Rating:</span> ⭐{{ movie.rating }}/10</p>
      <a routerLink="/movies" class="btn btn-danger">Back</a>
    </div>
  </div>
</section>
